body {
  overflow: hidden;
  height: 100vh;
}
.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  opacity: 1;
  pointer-events: none;
  transition: opacity 0.5s;
}
.windows-bg {
  position: relative;
  width: 1024px;
  height: 768px;
  background: url(/assets/image/windows95.jpg) center no-repeat #000;
  background-size: 1024px 768px;
}
.windows-bg > .crt {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    rgba(17, 20, 53, 0.1),
    rgba(118, 255, 241, 0.1)
  );
  background-repeat: repeat;
  background-size: 100vw 5vh;
  animation: bgscroll 15s linear infinite;
}
@keyframes bgscroll {
  100% {
    background-position: 0% 100%;
  }
}
.windows-bg .aesthetic-windows-95-boot-loader {
  background: none;
  position: absolute;
  bottom: 0;
}
.loading .aesthetic-windows-95-boot-loader > * {
  background: linear-gradient(
    to right,
    transparent 0%,
    #000084 15%,
    #000084 85%,
    transparent 100%
  );
}
.main-container {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.desktop-icon-container {
  margin: 15px 0 0 10px;
  user-select: none;
  position: absolute;
  left: 0;
  top: 0;
}
.desktop-icon-container,
.desktop-icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.desktop-icon-item {
  color: #fff;
  padding: 8px;
  border: 1px solid #0000;
}
.desktop-icon-item:focus {
  border: 1px dashed #dadada;
}
.desktop-icon-item + .desktop-icon-item {
  margin-top: 15px;
}
.desktop-icon {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.base-modal {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.introduce-container,
.motorcycle-container {
  width: 688px;
  height: 464px;
  display: none;
}
.introduce-container img {
  height: 100%;
}
.introduce-container.is-active {
  display: flex;
}
.introduce-content {
  margin-top: 80px;
  padding: 15px;
  line-height: 30px;
  user-select: text;
}

.motorcycle-container.is-active {
  display: block;
}

.motorcycle-container,
.game-container {
  overflow: hidden;
  user-select: text;
  line-height: 30px;
}
.motorcycle-container p,
.game-container p {
  margin: 10px 0;
  padding: 0 15px;
}

.motorcycle-container img {
  width: 230px;
  display: block;
  margin: 45px auto;
}

.game-container img {
  width: 250px;
  float: right;
}

.gif-modal .aesthetic-windows-95-modal-content {
  padding: 5px 0 0 0;
}

.gif-modal img {
  display: block;
  width: 100%;
}
footer {
  width: 100vw;
  position: absolute;
  bottom: 0;
  z-index: 99;
}
.taskbar-time {
  margin-left: 20px;
  user-select: none;
}
.start-icon {
  width: 60px;
  display: block;
  margin: auto;
}
.task-line {
  margin: 0px 10px;
  background: #b2b1b1;
  width: 1px;
  box-shadow: 1px 0px 1px 0 #efefef;
}
.task-icon-container {
  display: flex;
  align-items: center;
  filter: hue-rotate(50deg);
}
.task-icon {
  margin: 0 -5px;
  width: 38px;
  height: 38px;
}
.task-icon.sound {
  width: 20px;
  height: 20px;
  margin-left: 3px;
}
.aesthetic-windows-95-taskbar .aesthetic-windows-95-taskbar-services {
  cursor: auto;
}

/* 拖拽 */
.main-container .plane-box {
  position: absolute;
  z-index: 0;
  /* width: 300px;
  height: 100px; */
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: all 0s ease 0s;
  -moz-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
}
